<div class= "home-top text-center container-fluid w3-animate-top">

	<h1 class="tophead">DEVELOPERS MEETUP</h1>
	<h3 class="afterhead">Welcome! This is the site where developers becomes entrepreneurs</h3>

</div>